<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="alert alert-primary" role="alert">
      <div appColorChanger="red" defaultValue="blue" (itch)='scratch()'>  
        Collar
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <table class="table table-striped table-sm table-bordered" [ngBusy]="busy">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th> 
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <th scope="row">{{result.Id}}</th> 
          <td>{{result.Title}}</td>
        </tr>
        <tr *ngIf="results.length==0">
          <td colspan="2">
            No Record Found
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>